body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #FFFFFF;
    color: #333;
}

.movement
{
    width: 500px;
}

.bar
{
    padding-top: 16px;
}

.bar .header
{
    padding-bottom: 10px;
    text-align: right;
}

.cord
{
    display: inline-block;
    width: 16px;
    height: 16px;
}

.rank
{
    display: inline-block;
    padding: 0 8px;
    height: 16px;
}

.period
{
    padding: 1px 0;
    height: 16px;
}

.addPeriod
{
    position: relative;
    top: -8px;
}

.duration
{
    display: inline-block;
    width: 50px;
}

.duration input
{
    border: 0px;
}